extends layout

block content       
    div(class="row")
      div(class="col-lg-2")
        //- h1 hello
      div(class="col-lg-10")
        each docs in postContent
            div(class="card")
                div(class="card-body")
                    h5(class="card-title") #{docs.title}
                    p(class="card-title") #{docs.username}
                    p(class="card-text") #{docs.time.toLocaleString()}
                    p(class="card-text") #{docs.content}
