extends layout

block content       
    div(class="row")
      div(class="col-lg-2")
        //- h1 hello
      div(class="col-lg-10")
        each docs in postslist
            div(class="card")
                - var url ="./blog/"+docs.postid;
                a(href=url class="btn")        
                    div(class="card-body")
                        h5(class="card-title") #{docs.title}
                        p(class="card-text") #{docs.time.toLocaleString()}
