doctype html
html
  head
    title= title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav(class="navbar navbar-dark navbar-expand-lg bg-info")
      a(class="navbar-brand" href="#") Wotfoo
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div#navbarNav(class="collapse navbar-collapse")
        ul(class="navbar-nav")
          li(class="nav-item active"): a(class="nav-link" href="/") Home
          li(class="nav-item"): a(class="nav-link" href="#") Skill
          li(class="nav-item"): a(class="nav-link" href="#") Blog
          li(class="nav-item"): a(class="nav-link" href="/login") login
          li(class="nav-item"): a(class="nav-link" href="/logout") logout
          li(class="nav-item"): a(class="nav-link" href="/post") post
        ul(class="navbar-nav navbar-right")
          if user
            li(class="nav-item text-white"): span= user
          else
            li(class="nav-item text-white"): span 未登录
    div(class="container")
      if success
        div(class="alert alert-success" role="alert")
          p= success
      else if error
        div(class="alert alert-warning" role="alert")
          p= error 
      block content 
      block footer
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')